@model List<ExInViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="page-header text-center">
    <h1>BOOKKEEPING</h1>
</div>
<div class="row" style="margin-bottom:20px">
        <div class="col-md-2">
            <select id="ddYear" class="form-control">
                <option value="0">--select year--</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
            </select>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="exin_table" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>Apr</th>
                    <th>May</th>
                    <th>Jun</th>
                    <th>Jul</th>
                    <th>Aug</th>
                    <th>Sep</th>
                    <th>Oct</th>
                    <th>Nov</th>
                    <th>Dec</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
   
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="recon_table" class="table table-bordered table-striped table-hover">
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/bookkeeping/bookkeeping.js"></script>
<script type="text/javascript">
    $(document).on('change', '#ddYear', function () {
        getData($(this).val());
    });
</script>